* {
    margin: 0px;
    padding: 0px;
}

/* Navbar */

img {
    height: 20px;
    padding: 0px 0px 0px 10px;
}

a {
    font-size: 10pt;
    text-decoration: none;
    color: rgb(187, 187, 187);
    padding: 0px 25px 0px 25px;
}

a:hover {
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
}

ul {
    padding: 10px;
}

li {
    display: inline-block;
}

.second>p {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 23%, 98%);
    font-size: 12pt;
    text-decoration: underline;
}

p>img {
    width: 130px;
    height: 35px;
    padding: 0px 25px 0px 25px;
    justify-content: center;
    align-items: center;
}

p {
    letter-spacing: inherit;
}

/* h1,h2,h3 heading detils */
h1 {
    padding: 30px 0px 0px 0px;
    font-size: 33pt;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h2 {
    padding: 0px 0px 10px 0px;
    font-size: 22pt;
    line-height: 1.4705882353;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h3 {
    padding: 5px 0px 40px 0px;
    font-size: 18pt;
    line-height: 0.4705882353;
    font-weight: 500;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: wavy;
    color: blue;
    text-decoration-color: blue;
}

.s-bar {
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.s-bar>img {
    width: 500px;
    height: auto;
}

.t-bar {
    padding: 50px 0px 0px 0px;
    text-align: center;
}

.t-bar>img {
    width: 200px;
    height: auto;
}