*{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;   
    color: white;
}

li{
    display: inline;
    padding: 10px;    
}

li:hover{
    background-color: aqua;
}

.nav{
    text-align: center;
    background-color: black;
    padding: 10px 0px 10px 0px;
}

.tb{
    width: 50px;
    border: 1px solid red;
}